@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, a, span, li {
  font-family: "Poppins";
}

body {
  max-width: 75rem;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  position: relative;
  background-color: var(--color-12);
  color: var(--color-2);
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -1;
  pointer-events: none;

  background-image:
    linear-gradient(rgba(0,0,0,0.02) 1px, transparent 1px),
    linear-gradient(90deg, rgba(0,0,0,0.02) 1px, transparent 1px);

  background-size: 64px 64px;

  mask-image: radial-gradient(circle at center, black 40%, transparent 40%);
}

.container {
  padding-inline: 1.5rem;
}


ul, li, a {
  list-style: none;
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.icon path {
  stroke: var(--color-primary-1);
}

.icon {
  width: 1.2rem;
  height: 1.2rem;
}

.glass {
  background: linear-gradient(
    135deg,
    rgba(255,255,255,0.9),
    rgba(255,255,255,0.7)
  );

  border-radius: 16px;

  border: 1px solid rgba(226,232,240,0.9);

  box-shadow:
    0 6px 18px rgba(15,23,42,0.06);

  padding: 24px;
}