.primary-button {
  padding: 1rem 2rem;
  border-radius: 1rem;
  border: none;
  background: var(--gradient);
  color: var(--color-white);
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  cursor: pointer;
  transition: all ease-in-out 0.6s;
}

.primary-button:hover {
  opacity: 0.9;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}